:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  --white: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrapper {
  -webkit-box-shadow: -1px 2px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 2px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 2px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 30px;
  border-radius: 20px;
  border-bottom-right-radius: 80px;
}
.app form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 20px;
  color: var(--smokey-grey);
}
.app__dates {
  display: flex;
  align-items: center;
  gap: 20px;
}
.app__date {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.app__date span {
  color: var(--light-red);
  font-style: italic;
  font-size: 14px;
  display: none;
}

.app__date span.show {
  display: block;
}

label {
  color: var(--smokey-grey);
}
label.invalid {
  color: var(--light-red);
}
input {
  font-size: 32px;
  width: 150px;
  color: var(--off-black);
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid var(--light-grey);
}

input:focus {
  border: 1px solid var(--purple);
}
input.invalid {
  border: 1px solid var(--light-red);
}
.submit {
  position: relative;
  margin: 30px 0;
  width: 630px;
}
.line {
  border: 1px solid var(--light-grey);
}
.submit button {
  position: absolute;
  right: 0;
  top: -23px;
  border-radius: 50%;
  background-color: var(--purple);
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background ease 0.3s;
}
.submit button:hover,
.submit button:active {
  background: var(--off-black);
}
/* app display */

.app__display h2 {
  font-size: 70px;
}
.app__display span {
  color: var(--purple);
}

/* mobile resposnive */

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .wrapper {
    padding: 15px;
  }
  .app form {
    gap: 10px;
  }
  .app__dates {
    gap: 10px;
  }
  .app form input {
    font-size: 18px;
    width: 100px;
  }
  .submit {
    width: 100%;
  }
  .submit button {
    width: 80px;
    padding: 7px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .app__display h2 {
    font-size: 40px;
  }
}
